@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  /* background-color: $body-color; */
}

html {
  font-size: 62.5%;
  line-height: 2.15rem;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

/*Bỏ đấu chấm của thẻ li*/
li {
  list-style-type: none;
}

.header {
  height: 12.3rem;
}
.header .header-contact {
  height: 3.5rem;
  background-color: #002147;
  color: white;
  padding: 0 18rem;
}
.header .header-contact i {
  font-size: 1.2rem;
  color: #fdc800;
}
.header .header-contact i:not(:first-child) {
  margin-left: 3.5rem;
  font-size: 1.5rem;
}
.header .header-contact span {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 0.5rem;
}
.header .header-contact button {
  height: 100%;
  width: 12rem;
  color: black;
  background-color: #fdc800;
  font-weight: 550;
  border: 1px solid #fdc800;
  cursor: pointer;
  margin-left: 57rem;
  font-size: 1.5rem;
}
.header .header-contact button:hover {
  opacity: 0.8;
  color: white;
}
.header .header-title {
  height: 8.8rem;
  background-color: white;
  padding-left: 18rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
.header .header-title .header-logo {
  margin-bottom: 1rem;
}
.header .header-title .header-logo i {
  display: inline-block;
  padding: 0.2rem 1rem;
  border-radius: 50%;
  background-color: #002147;
  color: #fdc800;
  line-height: 3rem;
  font-size: 1.2rem;
  position: absolute;
}
.header .header-title .header-logo span {
  font-size: 2.85rem;
  margin-left: 4.2rem;
  font-weight: 550;
  line-height: 3rem;
}
.header .header-title .navbar {
  margin-left: 2rem;
  margin-top: 1.5rem;
}
.header .header-title .navbar .navbar-text {
  font-size: 1.5rem;
  color: black;
  font-weight: 400;
}
.header .header-title .navbar .navbar-text:not(:first-child) {
  margin-left: 3rem;
}
.header .header-title .navbar .navbar-text:hover {
  cursor: pointer;
  color: #fdc800;
}

.carousel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4) 100%), url(../img/2.jpg);
  height: 52rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.service {
  padding: 0 18rem;
  margin-top: -7rem;
}
.service .service-item {
  float: left;
  width: 33.33%;
  padding: 0 0.8rem;
  box-shadow: inset 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
  height: 29rem;
}
.service .service-content {
  text-align: center;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 3rem 1rem 1rem;
  font-weight: 300;
}
.service .service-content i {
  color: #fdc800;
  font-size: 2.8rem;
}
.service .service-content h1 {
  font-size: 1.8rem;
}
.service .service-content p {
  line-height: 2.5rem;
  font-weight: 400;
}
.service .service-content button {
  font-size: 1.5rem;
  margin-top: 2.8rem;
  width: 11rem;
  height: 4rem;
  color: black;
  font-weight: bold;
  background-color: #fdc800;
  border-radius: 0.5rem;
  border: 0.05rem solid white;
}
.service .service-content button:hover {
  cursor: pointer;
  color: white;
  opacity: 0.8;
  transition: all 0.2s ease;
}

.introduce {
  margin-top: 12rem;
  padding: 0 18rem;
}
.introduce .introduce-info {
  float: left;
  width: 50%;
  padding-right: 6rem;
}
.introduce .introduce-info h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.introduce .introduce-info p {
  line-height: 2rem;
  font-size: 1.4rem;
  margin-top: 5rem;
  opacity: 0.8;
}
.introduce .introduce-info p:not(:first-child) {
  margin-top: 3rem;
}
.introduce .introduce-info button {
  margin-top: 3rem;
  padding: 1rem 2.5rem;
  background-color: #fdc800;
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: 510;
}
.introduce .introduce-info button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2 ease;
  color: white;
}
.introduce .introduce-img img {
  width: 51rem;
  height: 30rem;
  margin-top: 2.05rem;
}

.category {
  margin-top: 12rem;
  padding: 1rem 17rem;
}
.category .category-item {
  float: left;
  width: 25%;
  padding: 1.2rem 1.2rem;
}
.category .category-content {
  background-color: #002147;
  text-align: center;
  padding: 3.3rem 3rem;
  color: white;
  line-height: 2rem;
}
.category .category-content i {
  font-size: 3.8rem;
  margin-bottom: 2rem;
}
.category .category-content span {
  font-size: 1.6rem;
  font-weight: 400;
}

.figures {
  margin-top: 8rem;
  padding: 3.5rem 18rem;
  background-color: #f6f6f6;
}
.figures .figures-item {
  float: left;
  width: 25%;
}
.figures .figures-content .number {
  float: left;
  width: 25%;
  font-size: 2.5rem;
  margin-right: 1rem;
  margin-top: 0.7rem;
  font-weight: 300;
}
.figures .figures-content .text {
  padding-top: 3rem;
}

.evaluate .evaluate-img {
  background-image: linear-gradient(rgba(0, 33, 71, 0.7) 100%, rgba(0, 33, 71, 0.7) 100%), url(../img/3.jpg);
  height: 41rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.evaluate .evaluate-content {
  padding: 5rem 15rem 5rem 18rem;
  position: absolute;
  margin-top: -43rem;
  color: white;
}
.evaluate .evaluate-content .content-left {
  float: left;
  width: 50%;
}
.evaluate .evaluate-content .content-left h1 {
  line-height: 4rem;
}
.evaluate .evaluate-content .content-left p {
  font-size: 1.4rem;
}
.evaluate .evaluate-content .content-left p:nth-of-type(2) {
  margin-top: 2rem;
}
.evaluate .evaluate-content .content-right {
  text-align: center;
  float: left;
  width: 50%;
  padding: 2.5rem 1rem;
}
.evaluate .evaluate-content .content-right img {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  border: 4px solid white;
}
.evaluate .evaluate-content .content-right p {
  font-size: 1.4rem;
  margin-top: 1.5rem;
}
.evaluate .evaluate-content .content-right h3 {
  color: #fdc800;
  margin-top: 1.5rem;
}
.evaluate .evaluate-content .content-right h4 {
  font-weight: 400;
  font-size: 1.5rem;
}

.activity {
  padding: 10rem 18rem;
  background-color: #f6f6f6;
}
.activity .acti-left {
  float: left;
  width: 50%;
}
.activity .acti-left button {
  margin-top: 2.5rem;
  margin-left: 35.4rem;
  padding: 1.5rem 3rem;
  background-color: #fdc800;
  border-radius: 3px;
  border: 1px solid transparent;
  font-weight: 600;
}
.activity .acti-left button:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s ease;
}
.activity .acti-left .left-list {
  padding-right: 3rem;
}
.activity .acti-left .left-item {
  padding: 3rem 2rem;
  background-color: #fff;
}
.activity .acti-left .left-content {
  margin-top: -0.7rem;
}
.activity .acti-left hr {
  width: 85%;
  margin-left: 2rem;
  opacity: 0.3;
}
.activity .acti-left .content-left-img {
  float: left;
  width: 15%;
}
.activity .acti-left .content-left-img img {
  width: 15rem;
  height: 10rem;
  border-radius: 5px;
  border: 1px solid transparent;
}
.activity .acti-left .content-left-text {
  margin-left: 17rem;
}
.activity .acti-left .content-left-text h3 {
  font-size: 1.6rem;
}
.activity .acti-left .content-left-text span {
  font-size: 1.5rem;
  opacity: 0.7;
}
.activity .acti-left .content-left-text p {
  font-size: 1.4rem;
  margin-top: 1rem;
}
.activity .acti-left h1 {
  margin-bottom: 5rem;
}
.activity .acti-right {
  float: left;
  width: 50%;
}
.activity .acti-right .right-list {
  padding-left: 4rem;
}
.activity .acti-right .right-item {
  padding: 2rem;
  background-color: #fff;
}
.activity .acti-right .right-item:not(:first-child) {
  margin-top: 2rem;
}
.activity .acti-right .right-calendar {
  float: left;
  width: 25%;
}
.activity .acti-right h1 {
  margin-left: 4rem;
  font-weight: 520;
}
.activity .acti-right button {
  margin-top: 2.5rem;
  margin-left: 38.3rem;
  padding: 1.5rem 3rem;
  background-color: #fdc800;
  border-radius: 3px;
  border: 1px solid transparent;
  font-weight: 600;
}
.activity .acti-right button:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s ease;
}
.activity .acti-right .right-text {
  margin-left: 12.5rem;
}
.activity .acti-right .right-text .right-hours {
  position: relative;
}
.activity .acti-right .right-text .right-separate::after {
  content: "";
  display: block;
  position: absolute;
  height: 2rem;
  width: 1px;
  background-color: grey;
  top: 0;
  right: -1.2rem;
  opacity: 0.7;
}
.activity .acti-right .right-text h3 {
  font-size: 1.6rem;
}
.activity .acti-right .right-text p {
  font-size: 1.4rem;
  margin-top: 1.5rem;
}
.activity .acti-right .right-text span {
  margin-top: 1.5rem;
}
.activity .acti-right .right-text p:last-child {
  margin-top: 1.5rem;
  display: inline-block;
  margin-left: 2rem;
  font-size: 1.5rem;
}
.activity .acti-right h1 {
  margin-bottom: 5rem;
  font-weight: 520;
}
.activity .acti-right .right-calendar {
  text-align: center;
}
.activity .acti-right .right-calendar .right-daymonth {
  padding: 1rem 1rem;
  background-color: #fdc800;
  border-radius: 0.5rem 0.5rem 0 0;
}
.activity .acti-right .right-calendar p {
  padding: 1rem 3rem;
  background-color: #002147;
  color: white;
  border-radius: 0 0 0.5rem 0.5rem;
}
.activity .acti-right .right-calendar h2 {
  margin-bottom: 1rem;
}

.footer {
  padding: 5rem 18rem;
  background-color: #002147;
  color: white;
  height: 40rem;
}
.footer .footer-contact {
  float: left;
  width: 40%;
  line-height: 3rem;
}
.footer .footer-contact ul {
  margin-top: 2rem;
}
.footer .footer-contact ul i {
  color: #fdc800;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.footer .footer-list {
  float: left;
  width: 60%;
}
.footer .footer-list .footer-nav {
  float: left;
  width: 30%;
}
.footer .footer-list .footer-nav a {
  color: white;
}
.footer .footer-list .footer-nav ul {
  line-height: 3.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.footer .footer-list .footer-nav-left {
  margin-right: 15rem;
}
.footer hr {
  width: 100%;
  opacity: 0.4;
  color: #ccc;
  margin-top: 3rem;
}
.footer .footer-copyright {
  margin-top: 3rem;
  font-size: 1.5rem;
}
.footer .footer-copyright span:nth-of-type(2) {
  margin-left: 53rem;
}
.footer .footer-copyright span:nth-of-type(3) {
  margin-left: 2rem;
}

/*# sourceMappingURL=style.css.map */
